/* all */
blockquote {
  font-size: 6px;
}

img {
  max-width: 100%;
  height: auto;
}

/* lead */
section.lead h1 {
  margin: 0 auto 100px;
  border: 0;
}

section.lead h2 {
  margin: 0 auto;
  border: 0;
}